#nav {
    background-color: rgba(60, 60, 60, 0.8);
    height: 100%;
    resize: horizontal;
    color: #cccccc;
    position: relative;
    padding: 0;
    min-width: 30px;
}
#nav:before {
    content: "";
    position: fixed;
    left: -40px;
    right: 0px;
    top: -40px;
    bottom:-40px;
    z-index: -1;

    display: block;
    background-image: url('../img/gears.jpg');

    -webkit-filter: blur(35px);
    filter: blur(35px);
}

#nav > #search {
    width:100%;
    padding: 15px;
}
#nav > #search > input {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius:10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 100%;
    color: #bbb;
}

#nav > #tree {
    overflow-y: auto;
    max-height: calc(100% - 70px);
    color: rgb(165, 165, 165);
}

/**  File Explorer */
ul.file-exp li.file-exp ul.file-exp {
    white-space: nowrap;
    font-size: 1em; /*stops nested lists scaling*/
    cursor: pointer !important;
    padding-bottom: 2px;
}
ul.file-exp {
    white-space: nowrap;
    font-size: 1em; /*stops nested lists scaling*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.file-exp {
    white-space: nowrap;
    font-size: 1em;
    padding-left: 10px;
}
span.link {
    cursor: pointer;
}
.file-exp i {
    color: rgb(115, 115, 115);
}

span.file-exp.root-dir {
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tree-item-open, .tree-item-open i {
    color: #ccc;
}